<div class="container">

  <div class="row">
    <div class="col-lg-12 team-generator">
      
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:page] == 'names' || params[:page].nil? %>">
        <%= link_to 'Names', root_path(params.merge(page: :names)) %>
        </li>
        <li class="<%= 'active' if params[:page] == 'result' %>">
        <%= link_to 'Result', root_path(params.merge(page: :result)) %>
        </li>
      </ul>

      <form method="post" action="/home/shuffle" id="participant-form" class="form-inline">

        <input type="hidden" value="result" name="page">

        <p>
          <div class="form-group">
            Number of teams (only numbers):
            <input type="number" class="form-control" min="2" max="99" name="nbrOfTeams" size="2" maxlength="2" autofocus id="nbrOfTeams" required>
          </div>
          <label class="radio-inline">
            <input type="radio" value="random" name="radio" id="random" checked> Random 
          </label>
          <label class="radio-inline">
            <input type="radio" value="gender" name="radio" id="gender"> Gender
          </label>

          <select name="list">
            <option>Sports</option>
            <option>Football</option>
            <option>Hockey</option>
            <option>Basketball</option>
            <option>Handball</option>
          </select>
        </p>
        <div id="genderwrapper" >
          <div>
            <textarea spellcheck="false" name="mentext" rows="5" cols="1" wrap="hard" id="men" placeholder="Names of the male participants" ></textarea>
          </div>
          <div>
            <textarea spellcheck="false" name="womentext" rows="5" cols="1" wrap="hard" id="women" placeholder="Names of the female participants" ></textarea>
          </div>
        </div>
        <div id="randomwrapper" >
          <div >
            <textarea spellcheck="false"  name="area" rows="9" cols="1" wrap="hard" id="randomnames" placeholder="Names of the participants" ></textarea>
          </div>
        </div>
        <p>
          <input class="btn btn-default" type="submit" value="Generate" id="generate" />
          <input class="btn btn-default" type="reset" value="Clear" />
        </p>

      </form>

      <section id="result-section">
        <div id="progress-bar"></div>
        <div class="progress"></div>
        <div id="result"></div>
      </section>

    </div>
  </div>
</div>